<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title th:text="${pageTitle}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <th:block th:include="blocks/style-files.html :: headerfiles"></th:block>
</head>
<body>
<div class="site-wrap">
    <th:block th:insert="blocks/header :: siteMenu"></th:block>
    <th:block th:insert="blocks/header :: header"></th:block>
    <main class="main-content">
        <div class="container-fluid photos">
            <div class="row justify-content-center">
                <div class="mt-5">
                    <form method="POST" enctype="multipart/form-data" action="/add-post">
                        <table>
                            <tr>
                                <td>Title:</td>
                                <td><input aria-label="title" type="text" name="title"/></td>
                            </tr>
                            <tr>
                                <td>Anons:</td>
                                <td><input aria-label="anons" type="text" name="anons"/></td>
                            </tr>
                            <tr>
                                <td>Full text:</td>
                                <td><textarea aria-label="fulltext" name="fullText"></textarea></td>
                            </tr>
                            <tr>
                                <td>File to upload:</td>
                                <td><input type="file" name="file"/></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td><input type="submit" value="Upload"/></td>
                            </tr>
                        </table>
                    </form>
                </div>

            </div>

            <div class="row justify-content-center">
                <div class="col-md-12 text-center py-5">
                    <p>
                        Copyright &copy;<script th:text="'document.write(new Date().getFullYear());'"></script>
                        All rights reserved!
                    </p>
                </div>
            </div>
        </div>
    </main>
</div> <!-- .site-wrap -->

<th:block th:include="blocks/js-files.html :: jsfiles"></th:block>

</body>
</html>