<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title th:text="${pageTitle}"></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <th:block th:include="blocks/style-files.html :: headerfiles"></th:block>
</head>
<body>
<div class="site-wrap w-100">
    <th:block th:insert="blocks/header :: siteMenu"></th:block>
    <th:block th:insert="blocks/header :: header"></th:block>
    <main class="main-content">
        <div class="container-fluid photos">
            <div class="row justify-content-center">

                <div class="col-md-6 pt-4">
                    <h2 class="text-dark mb-4" data-aos="fade-up">Spring boot. Java</h2>

                    <div class="row" data-aos="fade-up">
                        <div class="col-md-12">

                            <div>
                                Hello, dear friend! It's cool!
                            </div>

                            <div class="mb-4">
                                <img th:src="@{get-image/testAvatar.jpg}" src="" alt="image" class="img-fluid rounded-circle" style="max-width: 80px; ">
                            </div>
                            <p class="mt-4 ml-2">Best wishes! <br> <strong>Stepan Smetanskyy!</strong></p>
                        </div>
                    </div>
                </div>

            </div>

            <div class="row justify-content-center">
                <div class="col-md-12 text-center py-5">
                    <p>
                        Copyright &copy;<script th:text="'document.write(new Date().getFullYear());'"></script>
                        All rights reserved!
                    </p>
                </div>
            </div>
        </div>
    </main>
</div> <!-- .site-wrap -->

<th:block th:include="blocks/js-files.html :: jsfiles"></th:block>

</body>
</html>