<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title th:text="${pageTitle}"></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <th:block th:include="blocks/style-files.html :: headerfiles"></th:block>
</head>
<body>
<div class="site-wrap w-100">
    <th:block th:insert="blocks/header :: siteMenu"></th:block>
    <th:block th:insert="blocks/header :: header"></th:block>
    <main class="main-content">
        <div class="container-fluid photos">
            <div class="row justify-content-center">
                <div class="col-md-6 pt-4">
                    <h2 class="text-dark mb-4" data-aos="fade-up" th:text="${post.getTitle()}"></h2>

                    <div class="row" data-aos="fade-up">
                        <div class="col-md-12">
                            <div th:text="${post.getFullText()}"></div>
                            <p class="mt-4 ml-2">Author: <strong th:text="${post.getAuthorName()}"></strong></p>
                            <div class="mt-3 mb-4">
                                <img th:src="@{'/get-image/' + ${post.getImage()}}" src="" alt="image"
                                     class="img-fluid w-100">
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <form th:action="@{'/post/update-post/' + ${post.getId()}}" method="get"
                                          enctype="multipart/form-data">
                                        <input type="submit" class="btn btn-light" value="Update post"/>
                                    </form>
                                </div>
                                <div class="col-md-6">
                                    <form th:action="@{'/post/delete-post/' + ${post.getId()}}" method="get">
                                        <input type="submit" class="btn btn-dark" value="Delete post"/>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row justify-content-center">
                <div class="col-md-12 text-center py-5">
                    <p>
                        Copyright &copy;<script th:text="'document.write(new Date().getFullYear());'"></script>
                        All rights reserved!
                    </p>
                </div>
            </div>
        </div>
    </main>
</div> <!-- .site-wrap -->

<th:block th:include="blocks/js-files.html :: jsfiles"></th:block>

</body>
</html>