<div class="site-mobile-menu" th:fragment="siteMenu" xmlns:th="http://www.thymeleaf.org">
    <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
            <span class="icon-close2 js-menu-toggle"></span>
        </div>
    </div>
    <div class="site-mobile-menu-body"></div>
</div>

<header class="header-bar d-flex d-lg-flex align-items-center"
        th:classappend="${(#httpServletRequest.requestURL.toString().contains('index')) ? '' : 'inner-page-header'}"
        data-aos="fade-down" th:fragment="header" xmlns:th="http://www.thymeleaf.org">
    <div class="site-logo">
        <a href="/">Carpathians Blog</a>
    </div>
    <div class="d-inline-block d-xl-block ml-md-0 ml-auto py-3" style="position: relative; top: 3px;">
        <a href="#" class="site-menu-toggle js-menu-toggle text-white">
            <span class="icon-menu h3"></span>
            <span style="position: relative;top: -4px; text-transform: uppercase;">Menu</span></a></div>
    <div class="main-menu d-none">
        <ul class="js-clone-nav">
            <li th:class="${(#httpServletRequest.requestURL.toString().contains('index')) ? 'active' : ''}">
                <a th:href="@{/index}">Home</a></li>
            <li th:class="${(#httpServletRequest.requestURL.toString().contains('photos')) ? 'active' : ''}">
                <a th:href="@{/photos}">Photos</a></li>
            <li th:class="${(#httpServletRequest.requestURL.toString().contains('add-post')) ? 'active' : ''}">
                <a th:href="@{/post/add-post}">Add Post</a></li>
            <li th:class="${(#httpServletRequest.requestURL.toString().contains('bio')) ? 'active' : ''}">
                <a th:href="@{/bio}">About Me</a></li>

            <li th:if="${#httpServletRequest.remoteUser == null}">
                <a class="text-primary" th:href="@{/login}">Sign In</a>
            </li>

            <li th:if="${#httpServletRequest.remoteUser != null}">
                <a class="text-success" href="#" th:onclick="'document.getElementById(\'logoutPost\').submit();'" title="logout">[[${#httpServletRequest.remoteUser}]]
                    <i class="icon-exit_to_app" aria-hidden="true"></i></a>
                <form th:action="@{/logout}" method="post" id="logoutPost" class="d-none">
                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                </form>
            </li>

        </ul>
        <ul class="social js-clone-nav">
            <li><a href="#"><span class="icon-facebook"></span></a></li>
            <li><a href="#"><span class="icon-twitter"></span></a></li>
            <li><a href="#"><span class="icon-instagram"></span></a></li>
        </ul>
    </div>
</header>