<div th:fragment="jsfiles" xmlns:th="http://www.thymeleaf.org">
    <script th:src="@{js/jquery.min.js}"></script>
    <script th:src="@{js/jquery-migrate-3.0.1.min.js}"></script>
    <script th:src="@{js/jquery-ui.js}"></script>
    <script th:src="@{js/popper.min.js}"></script>
    <script th:src="@{js/bootstrap.min.js}"></script>
    <script th:src="@{js/owl.carousel.min.js}"></script>
    <!-- <script th:src="@{js/jquery.stellar.min.js}"></script> -->
    <script th:src="@{js/jquery.countdown.min.js}"></script>
    <script th:src="@{js/jquery.magnific-popup.min.js}"></script>
    <script th:src="@{js/bootstrap-datepicker.min.js}"></script>
    <script th:src="@{js/aos.js}"></script>
    <script th:src="@{js/jquery.fancybox.min.js}"></script>
    <script th:src="@{js/swiper.min.js}"></script>
    <script th:src="@{js/jquery.scrollbar.js}"></script>
    <script th:src="@{js/main.js}"></script>
</div>